<div class="menuGroup">
<a href="/home"><title>Two Pieces</title></a>
<a href="/crews"><menu>
Tripulações
</menu></a>
<a id="profile_redirect"><menu>Perfil</menu></a>
<menu class="login"><img id="avatar"></img><p id="username">Login</p></menu>
</div>